.SignInPage button{
    cursor: pointer;
}
.SignInPage_logo{
    margin:25px;
}
.SignInPage_container{
    background-color: rgba(0,0,0,.8);
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 600px;
}
.SignInPage_content-box{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;
}
.SignInPage_content-box input{
    background-color: rgb(45, 45, 45);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px;
    margin: 5px;
    color: white;
}
.SignInPage_content-box button{
    width:97%;
    margin: 10px auto;
    background-color: #E50914;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}
.SignInPage_content-box_text{
    margin-top: 90px;
    color: gray;
}
.SignInPage_content-box_text a{
    color: white;
    text-decoration: none;
}
.SignInPage_content-box_text a:hover{
    text-decoration: underline;
}
.SignInPage_content-box_link{
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.SignInPage_content-box_link:visited{
    color: white;
}
.SignInPage_content-box_link:hover{
    text-decoration: underline;
}