.DownloadsBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid rgb(41, 37, 37);
}

.DownloadsBanner img{
    width: 600px;
}

.DownloadsBanner_text h2{
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
}
.DownloadsBanner_text p{
    margin: 1rem 0 0;
    font-size: 1.3rem;
    font-weight: 400;

}

.DownloadsBanner_text{
    width: 40%;
    margin-left: 30px;
}